.App {
  text-align: center;
  height    : 100vh;
  width     : 100vw;
  display   : flex;
  flex-wrap : wrap;
}

.tile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 70px;
  text-transform: uppercase;
  margin-bottom: 3px;
  cursor: pointer;
}

img {
  width : 56px;
  height: 42px;
}

.text-container {
  font-size: 11px;
  height: 3em;
  width: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}